/*
Code Nev
*/

  body
    {
      background-color: rgb(0, 0, 0);
      color: rgba(255, 255, 255, 1);
      font-size: 1.2em;
      font-family: Arial, sans-serif, serif;
      margin:40px auto;
      max-width:650px;
      line-height:1.6;
    }

  p
    {
      text-align: justify;
    }

/*
Links
*/

  a:visited
    {
      color: rgb(0, 0, 255);
    }

/*
Strings
*/

  .dashed
    {
      border: dashed rgb(0, 200, 0) 3px;
      border-radius: 20px;
    }

  .but
    {
      color: rgba(255, 0, 0, 1);
    }

  .float
    {
      float: left;
    }

  .afterfloat
    {
      clear: both;
    }

/*
Titles
*/

  h1
    {
      font-size: 2.1em;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      color: rgba(0, 255, 0, 1);
    }

  h2
    {
      font-size: 1.4em;
      font-style: normal;
      font-weight: normal;
      color: rgba(0, 200, 0, 1)
    }

/*
Not everyone can see it
*/

  .minus
    {
      font-size: 0.4em
    }

/*
Wards of value
*/

  strong
    {
      font-weight: normal;
    }

  em
    {
      font-style: normal;
    }
